<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>school</mat-icon>
    </button>
    <span color="primary">Angular Crud Test F.E</span>
    <span class="example-spacer" color="primary"></span>
    <div class="spacer">
        
        <a mat-button color="warn" routerLink="/home">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
Home</a>
        <a mat-button routerLink="/addemp">Agregar Empleados</a>
        <a mat-button routerLink="/addpro">Agregar Producto</a>
        <a mat-button routerLink="/testapi">Test API</a>
        
    </div>
</mat-toolbar>