<body>
    <header>
      <nav>
        <ul>
        </ul>
      </nav>
    </header>
  
    <main>
      <section class="hero">
        <h1>Homepage de Proyecto de Programacion F.E.</h1>
        <mat-icon> call_made</mat-icon><p>Actualmente hay 3 botones de opciones en la navbar</p>
      </section>
  
      <section class="features">
        <div class="feature">
          <mat-icon>assignment_ind</mat-icon>
          <h2>Ingresar Empleados</h2>
          <p>Se puede hacer ingreso de Empleados apretando el boton de "Agregar Empleados" designado de color rojo en la parte superior derecha, donde se debera llenar los campos del formulario con los datos del empleado para despues ser ingresado a la API de "empleados" en el archivo json "db.json".</p>
          <p>Actualmente se dispone de la Opciones para Editar/Actualizar y Eliminar Datos que se hayan ingresado previamente</p>
        </div>
        <div class="feature">
            <mat-icon>folder</mat-icon>
          <h2>Ingresar Productos</h2>
          <p>De la misma manera y estilo que se pueden Ingresar empleados tambien se pueden ingresar productos con el boton correspondiente</p>
          <p>El "id" es designado de manera automatica de ser necesario el ingreso de un codigo fijo por producto el codigo puede ser modificado para adaptar datos necesarios</p>
        </div>
        <div class="feature">
            <mat-icon>build</mat-icon>
          <h2>Revision testing API externa</h2>
          <p>Con el requerimiento de probar una API de forma externa a servidores locales se hizo conexion con una API abierta que simplemente entrega detalles de usuarios (actualmente no se dispone un metodo de modificiacion de estos)</p>
        </div>
      </section>
      <section class="products">
        <h2>Areas a Mejorar del Proyecto</h2>
        <ul>
          <li>Más Funcionalidades(como historial de ventas o graficos de finanzas)</li>
          <li>Mejorias en orden y Manejo del codigo (Familiarizarse mas con funcionamiento de Angular y sus metodos)</li>
          <li>Agregar funciones de listado y organizacion donde se haga ingreso de datos</li>
          <!-- Agrega más productos según tus necesidades -->
        </ul>
      </section>
    </main>
    <mat-expansion-panel hideToggle color="primary">
        <mat-expansion-panel-header color="primary">
            <mat-icon>keyboard_arrow_down</mat-icon>
          <mat-panel-title color="primary">
            Software Utilizado en el Desarrollo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Angular Material version: 16.1.5.</p>
        <p>Angular version: 16.1.7.</p>
      </mat-expansion-panel>
    <footer>
        <p>Proyecto Creado por Fernando Diaz V. con el proposito de aprendizaje en el area de programacion.</p>
      </footer>
  
  </body>